LISTA

In [1]:
# Vamos a generar una lista vacía

L= []

range(10)

range(0, 10)

In [3]:
L=[1,2,3,4]
L

[1, 2, 3, 4]

In [5]:
L.append(6)
L

[1, 2, 3, 4, 5, 6]

In [2]:
for i in range(10):print(i)

0
1
2
3
4
5
6
7
8
9

## Listas por compresión

In [8]:
type([])

list

In [10]:
len([2,4,6,8])

4

In [11]:
Pares = [i for i in range(1,100) if i%2==0]
Pares

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [14]:
Impares = [i for i in range(1,100) if i%2==1]
Impares

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

Módelo NumPy

In [16]:
import numpy as np

In [19]:
np.random.randint(1,101, 5)

array([24, 36, 82,  6, 59])

In [20]:
# El sistema escogera cien numeros del uno al diez
np.random.randint(1,10, 100 )

array([4, 4, 2, 6, 1, 2, 4, 6, 4, 7, 8, 8, 4, 5, 1, 5, 5, 8, 1, 2, 5, 1,
       2, 1, 6, 7, 8, 5, 2, 5, 5, 4, 5, 2, 7, 5, 3, 8, 7, 1, 5, 9, 8, 7,
       7, 8, 7, 7, 6, 8, 1, 1, 9, 8, 5, 3, 5, 1, 7, 6, 5, 3, 6, 3, 7, 6,
       1, 3, 6, 2, 3, 7, 3, 2, 2, 6, 4, 4, 1, 5, 8, 4, 6, 9, 9, 9, 9, 7,
       1, 9, 8, 8, 4, 7, 6, 8, 4, 4, 5, 7])

In [22]:
# El sistema escogera los numeros pares en 100 numeros del 1 al 10
Pares = [i for i in (np.random.randint(1,10, 100 )) if i%2==0]
Pares

[6,
 6,
 8,
 2,
 8,
 4,
 2,
 8,
 4,
 8,
 4,
 6,
 8,
 2,
 2,
 4,
 2,
 6,
 2,
 8,
 4,
 8,
 2,
 2,
 6,
 4,
 2,
 8,
 2,
 6,
 4,
 2,
 2,
 6,
 6,
 6,
 6,
 8,
 4,
 8,
 6]